<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= ENV['FACEBOOK_PI_APPID'] %>
<br>
<%= ENV['FACEBOOK_PI_SECRET'] %>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
